# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Node.js dependencies
node_modules/

# Environment variables
.env

.idea/
.vscode/

.DS_Store
Thumbs.db
/src/data/
/src/data/*
